blockquote {
    margin: 10px;

    &.quote-wrap {
        font-size: 20px;
        font-style: inherit;
        quotes: "“" "”" "‘" "’";

        &::after,
        &::before {
            font-family: Macondo, sans-serif;
            font-size: 80px;
            line-height: .1em;
            position: absolute;
        }

        &::after {
            bottom: -30px;
            content: close-quote;
            right: -28px;
        }

        &::before {
            content: open-quote;
            left: -.5em;
            top: .35em;
        }
    }
}

@media all and (min-width: 960px) {
    blockquote {
        &.quote-wrap {
            margin-top: 50px;
        }
    }
}
