@charset "UTF-8";
@import "variables";
@import "colors";
@import "bourbon/bourbon";

dl {
    &.events {
        margin: 0;
    }
}

dt {
    &.event-date {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        margin: 1em 0 -1em;
    }
}

dd {
    &.event-title {
        line-height: 1.5;
        margin: 1em 0;
    }
}
