.search-form-element {
    display: inline-block;
    height: 39px;
}

.search-result-set {
    display: none;

    &.active {
        display: block;
    }
}

.search-button {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $base-dark-grey;
    font-family: "fontello";
    font-size: 1em;
}

.search-result-set-link {
    &.active {
        border-bottom: 3px solid $nav-hover-border-top-color; // @todo rename this var
        padding: 3px;
    }

    &:hover {
        border-bottom: 3px solid $nav-hover-border-top-color;
        text-decoration: none;
    }
}

#search-page-query-input {
    border: 1px solid $base-light-grey;
    font-size: 16px;
    padding: .55em;

    &:focus {
        background: $base-white;
    }
}

#search-page-submit {
    background-color: inherit;
    border: 0;
    border-radius: 0;
    font-size: 30px;
    padding: inherit;
    width: auto;
}
