<!-- BEGIN HEADER -->
<header>
    <div class="accessible-no-display">
        <ul class="accessible-no-display">
            <li class="accessible-no-display"><a class="accessible-no-display" href="#maincontent">Skip to main content</a>
            <li class="accessible-no-display"><a class="accessible-no-display" href="#mainnav">Skip to main navigation</a>
        </ul>
    </div>
    <div id="umnheader">
        <div class="container">
            <ul id="umn-links">
                <li><a href="http://www.umn.edu/" id="umnh-logos" title="U of M System Homepage"></a></li>
                <li><a href="https://www.myu.umn.edu/" id="umnh-myu" title="My U">MyU</a></li>
                <li><a href="http://onestop.umn.edu/" id="umnh-onestop" title="One Stop">One Stop</a></li>
            </ul>
        </div>
    </div><!-- /#umnheader -->
    <div class="section-header-container">
        <div class="container">
            <div id="wordmark-wrapper">
                <div class="wordmark-container-right wordmark-container half">
                    <a href="/"><img class="wordmark-svg cehd-wordmark" src="/assets/images/wordmarks/wordmark-cehd.svg" alt="College of Education and Human Development wordmark."></a>
                </div>
                <div class="wordmark-container-left wordmark-container half">
                </div>
            </div>
        </div>
    </div>
</header>
