<div class="row">
    <div class="container">
        <nav class="inline-nav">
            <ul class="nav inline">
                <li><a class="navbar-brand" href="/">Home</a></li>
            {% for item in site.pages %}
            {% if item.title and item.title != "Home" %}
                {% assign active = nil %}
                {% if page.title == item.title %}
                {% assign active = 'active' %}
                {% endif %}
                <li><a class="nav-item nav-link {{active}}" href="{{item.url}}">{{item.title}}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
        </nav>
    </div>
</div>
