@charset "UTF-8";
@import "../variables";
@import "form_hack";

// Add custom form styles and form hack overrides here

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@each $heading, $size in $heading-map-mobile {
    .cognito .c-forms-heading $heading {
        font-family: 'Montserrat', Verdana, Geneva, sans-serif;
        font-size: $size;
        margin: .7em 0;
        padding: 0;
    }
}

.cognito {
    .c-title h3 {
        color: $cehd-dark-grey;
        font-family: 'Montserrat', Verdana, Geneva, sans-serif;
        font-size: 16px;
    }
}
